@import url("/style.css");

.heading {
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.product-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem;
}

.product-card {
  background-color: var(--bg-color);
  width: 25rem;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
}

.product-card .img-container {
  border-radius: 0;
}

.product-card .img-container img {
  width: 100%;
  height: 25vh;
  position: relative;
  overflow: hidden;
}

.info {
  text-align: center;
}

.info .title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  padding-top: 1rem;
}

.info .price {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .product-card {
    margin-bottom: 3rem;
  }
}
